trigger-actions-framework/main/default/flows/TriggerActionFlowTest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_to_newListAfterFlow</name>
        <label>Add to newListAfterFlow</label>
        <locationX>351</locationX>
        <locationY>256</locationY>
        <assignmentItems>
            <assignToReference>newListAfterFlow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Record</targetReference>
        </connector>
    </assignments>
    <description>This is meant for test coverage for the TriggerActionFlow class.</description>
    <interviewLabel>TriggerActionFlowTest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trigger Action Flow Test</label>
    <loops>
        <name>For_Each_Record</name>
        <label>For Each Record</label>
        <locationX>176</locationX>
        <locationY>256</locationY>
        <collectionReference>newList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_newListAfterFlow</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>For_Each_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>newListAfterFlow</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>oldList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
